.App {
  text-align: center;
  background-color:#eee7a4 ;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.body{
 background-color:#eee7a4 ;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flwr{
  top: 45%;
  left: 47%;
  image-rendering: pixelated;
  position: absolute;
  width: 50px;
  height: auto;
  clip: rect(50px, 100px, 200px, 0);
}
.flwr1{
  top: 45%;
  left: 47%;
  image-rendering: pixelated;
  position: absolute;
  width: 50px;
  height: auto;
  clip: rect(0px, 100px, 50px, 0px);
}